<div class="row">   
    
    <div class="col-md-6">
        <div class="clearfix"></div>
        <img src="{{user.avatar}}" alt="{{user.name}}">
    </div>
    <div class="col-md-6">
        <div class="clearfix"></div>
        <div class="card">
            <div class="card-body">
                <h1>{{user.name}}</h1>
                <h3>Email: {{user.email}}</h3>
                <h3>Username: {{user.username}}</h3>
                <h3>Role: {{user.role}}</h3>

                <h3>Age: {{user.age}}</h3>
                <h3>State: {{user.state}}</h3>
            </div>
        </div>
    </div>
</div>